@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 48px;
}

h3 {
    font-weight: 900;
}

.header-part {
    display: flex;
    margin: 15px;
    margin-bottom: 130px;
}


.hire-me {
    width: 50%;
    padding-left: 2%;
}

.hire-me .blockbuster {
    width: 80%;
    margin-left: 30px;
    border-radius: 50%;
    padding-left: 10px;

}

.link-style {
    text-decoration: none;
    font-size: 17px;
    background-image: linear-gradient(tomato, pink);
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 5px;
}

.coloring {
    color: yellow;
    font-weight: bold;
}

.kochi {
    width: 60%;
    border-radius: 50%;
    border-style: groove;
}

.box-model {
    margin: 15px 30px;
    padding-left: 25px;
    /* padding-right: 10px; */
    width: 100%;

}

/* .experience {
    box-shadow: 10px 10px 40px gray
} */

.baby-developer {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 7px;
    box-shadow: 10px 10px 30px gray
}

.baby-developer h1 {
    font-size: 32px;
}

#stack {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(107, 211, 107), green);
    border-image-slice: 1;
}

#non-stack {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(42, 72, 187), rgb(29, 154, 239));
    border-image-slice: 1;
}